<main>
    <h1>the evolution of nintendo consoles</h1>
    <section class="container">
        <div class="line">

        </div>
        <div class="console nes">

            <object class="svgIcon" data="images/NES.svg" type="image/svg+xml"></object>
            <div class="see-more" data-target="1">
            </div>
            
        </div>

        <div class="console snes" id="waypoint">
            <object class="svgIcon" data="images/SNES.svg" type="image/svg+xml"></object>
             <div class="see-more" data-target="2">
            </div>
        </div>
        
        <div class="console n64" id="waypoint1">
            <object class="svgIcon" data="images/N64.svg" type="image/svg+xml"></object>
             <div class="see-more" data-target="3">
            </div>
        </div>

        <div class="console gcn" id="waypoint2">
            <object class="svgIcon" data="images/GCN.svg" type="image/svg+xml"></object>
             <div class="see-more" data-target="4">
            </div>
        </div>

        <div class="console wii" id="waypoint3">
            <object class="svgIcon svgResize" data="images/WII.svg" type="image/svg+xml"></object>
             <div class="see-more" data-target="5">
            </div>
        </div>

        <div class="console wiiu" id="waypoint4">
            <object class="svgIcon" data="images/WIIU.svg" type="image/svg+xml"></object>
             <div class="see-more" data-target="6">
            </div>
        </div>

        <div class="console switch" id="waypoint5">
            <object class="svgIcon bottom" data="images/SWITCH.svg" type="image/svg+xml"></object>
             <div class="see-more" data-target="7">
            </div>
        </div>

    </section>
    <article class="lightbox">
        <h2 class="consoleName"></h2>
        <h3 class="consoleDate"></h3>
        <h4 class="consoleSold"></h4>
        <p class="consoleDesc"></p>

    </article>
</main>