<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/reset.css'/>
    <link rel='stylesheet' href='/css/main.css'/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

  </head>
  <body>
    {{{body}}}
    <script src="js/main.js"></script>
  </body>
</html>
